@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600;800&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(media/fondo.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ffb892 ;
    font-size: 25px;
    font-weight: 800;
}

.logo:hover{
    color: #f899db;
}

.menu .natbar ul li{
    position: relative;
    float: left;
}

.menu .natbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffb892 ;
    display: block;
    font-weight: 600;
}

.menu .natbar ul li a:hover{
    color: #f899db;
}


#menu{
    display: none;
}

.menu-logo{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-top: 35px;
}

.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0px 250px;
    margin-bottom: 25px;
}

.btn-1{
    font-weight: 600;
    display: inline-block;
    padding: 11px 35px;
    background-color: #ffb892;
    color: #f9fafc;
    text-transform: uppercase;
    border-radius: 10px;
}

.btn-1:hover{
    background-color: #f899db;
}

.cursos{
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.cursos-content{
    text-align: center;
}

.cursos-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-parrafo{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.cursos-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cursos-1{
    padding: 0 25px;
}

.cursos-1 img{
    width: 200px;
    border-radius: 15px;
}

.cursos-img{
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.cursos-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.servicios{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(media/fondo1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;

}

.servicios-content{
    text-align: center;
}

.servicios-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.servicios-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.sevicios-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.servicios-1{
    padding: 0 100px;
}

.servicios-1 img{
    width: 100px;
    margin-bottom: 15px;
}

.servicios-1 h3{
    color: #eaccb3;
    font-size: 18px;
}

.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-2{
    background-image: url(media/deco.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3{
    background-image: url(media/deco1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog{
    padding: 100px 0;
    text-align: center;
}

.blog-content{
    display: flex;
    justify-content: space-between;
}

.blog-1{
    padding: 15px 55px;
}

.blog-1 img{
    width: 150px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3{
    font-size: 25px;
    color: #323337;
}

.footer{
    padding: 100px 0;
    background-color: #000;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #f9fafc;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
} 

@media(max-width:991px){
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .natbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #323337;
        display: none;
    }

    .menu .natbar ul li{
        width: 100%;
    }

    #menu:checked ~ .natbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 30px;
    }

    .header-content p{
        padding: 0;
    }

    .cursos {
        padding: 30px;
    }

    .cursos-content h2{
        padding: 0;
    }

    .txt-parrafo{
        padding: 0;
    }

    .cursos-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .cursos-img{
        display: none;
    }

    .servicios{
        padding: 30px;
    }

    .servicios-content p{
        padding: 0;
    }

    .sevicios-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .servicios-1{
        margin-bottom: 25px;
    }

    .general{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3{
        display: none;
    }

    .blog{
        padding: 30px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-1{
        padding: 0;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

}